<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="sidebar-user">


    <!-- ================= SIDEBAR ================= -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand -->
        <a href="/asura/admin/comic/users" class="brand-link">
            <span class="brand-text font-weight-light ml-3">
                USER_ADMIN
            </span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column"
                    data-widget="treeview"
                    role="menu"
                    data-accordion="false">

                    <!-- User list -->
                    <li class="nav-item">
                        <a href="/asura/admin/comic/users"
                           class="nav-link"
                           th:classappend="${activeMenu == 'users'} ? 'active'">
                            <i class="nav-icon fas fa-users"></i>
                            <p>Danh sách người dùng</p>
                        </a>
                    </li>

                    <!-- Create user -->
                    <li class="nav-item">
                        <a href="/asura/admin/comic/users/create"
                           class="nav-link"
                           th:classappend="${activeMenu == 'create-user'} ? 'active'">
                            <i class="nav-icon fas fa-user-plus"></i>
                            <p>Tạo người dùng</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/asura/admin/comic/users/revenues" class="nav-link">
                            <i class="nav-icon fas fa-chart-line"></i>
                            <p>Doanh thu</p>
                        </a>

                    </li>

                    <!-- Account -->
                    <li class="nav-header">TÀI KHOẢN</li>

                    <li class="nav-item">
                        <a href="/asura/admin/comic/users/profile-admin-user"
                           class="nav-link"
                           th:classappend="${activeMenu == 'profile'} ? 'active'">
                            <i class="nav-icon fas fa-id-card"></i>
                            <p>Hồ sơ cá nhân</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/logout" class="nav-link text-danger">
                            <i class="nav-icon fas fa-sign-out-alt"></i>
                            <p>Đăng xuất</p>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </aside>

</th:block>

</body>
</html>
