<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="sidebar-interact">
    <!-- ================= SIDEBAR ================= -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="/asura/admin/comic/interact" class="brand-link">
            <img src="/css/admin-assets/dist/img/AdminLTELogo.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: 0.8" />
            <span class="brand-text font-weight-light">INTERACTION_ADMIN</span>
        </a>

        <div class="sidebar">
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a href="/asura/admin/comic/interact" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>Tổng quan</p>
                        </a>
                    </li>

                    <li class="nav-header">QUẢN LÝ CHÍNH</li>
                    <li class="nav-item">
                        <a href="/asura/admin/comic/interact/comments" class="nav-link">
                            <i class="nav-icon fas fa-comments"></i>
                            <p>Bình luận</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/asura/admin/comic/interact/report" class="nav-link">
                            <i class="nav-icon fas fa-flag"></i>
                            <p>Báo cáo vi phạm</p>
                        </a>

                    </li>


                    <li class="nav-header">TÀI KHOẢN</li>
                    <li class="nav-item">
                        <a href="/asura/admin/comic/interact/profile-admin-interact" class="nav-link">
                            <i class="nav-icon fas fa-id-card"></i>
                            <p>Hồ sơ cá nhân</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link text-danger">
                            <i class="nav-icon fas fa-sign-out-alt"></i>
                            <p>Đăng xuất</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

</th:block>

</body>
</html>
