<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="/css/web/web-main/home.css">
</head>
<body>
<footer>
    <div class="footer-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Digital Millennium Copyright Act</a>
        <a href="#">Terms of Service</a>
    </div>
    <div class="footer-logo">
        <img src="https://reaperscans.com/wetried_only.png" alt="Footer Logo">
    </div>
</footer>
</body>
</html>