<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="/css/web/web-main/home.css">
</head>
<body>
<footer>
    <div class="footer-links">
        <a th:href="@{'/asura/privacy-policy'}">Privacy Policy</a>
        <a th:href="@{'/asura/dmcs-notice'}">Digital Millennium Copyright Act</a>
        <a th:href="@{'/asura/terms-of-service'}">Terms of Service</a>
    </div>
    <div class="footer-logo">
        <img src="https://reaperscans.com/wetried_only.png" alt="Footer Logo">
    </div>
</footer>
</body>
</html>